<md-toolbar>
    <div class="md-toolbar-tools" ng-controller="AnonNavigationController as navVm" md-theme="default">
        <h2><a class="navbar-brand" ui-sref="app.anon.home">
            <md-icon md-svg-icon="beer"></md-icon>
            <span>BeerApp</span></a></h2>
        <span flex></span>
        <md-button ui-sref="app.anon.signup">
            <md-icon md-svg-icon="account-plus"></md-icon>
            Rejestracja
        </md-button>
        <md-button ui-sref="app.anon.login">
            <md-icon md-svg-icon="account"></md-icon>
            Logowanie
        </md-button>
    </div>
</md-toolbar>