.height-100 {
    height: 100vh;
}

.content-only {
    top: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

#loading-bar .bar {
    background: orange;
    height: 3px;
}

md-no-animations, md-dialog.md-transition-in, md-dialog.md-transition-out {
    -webkit-transform: none !important;
    transform: none !important;
}

md-dialog {
    min-width: 400px;
}

md-dialog form {
    padding: 15px;
    margin-top: 30px;
}

md-content {
    height: 100%;
    padding: 10px;
}

md-toolbar {
    height: 60px;
}

.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: grey;
}

.min-200 {
    min-width: 200px;
}

.footer {
    border-top: 1px solid #bbb;
}

.footer span {
    font-size: inherit;
    font-weight: inherit;
    box-sizing: border-box;
    padding: 0 6px;
    margin: 6px 8px;
}